# Python virtual environment
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Output directories
output/

/hello-world-dataset/*
!/hello-world-dataset/datasource-properties.json

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
